/* stylesheet for the fitness web pages */
/* styles for the body */
body {
  /* background-color: #FFFF99; */
  background-color: #1d1d1c;
}

img {
  max-width: 100%;
}

/* styles for mobile layout */

/* styles for the container id */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  /* margin-top: 0.2em;
  background-color: #fff;
  border-radius: 0.5em; */
  text-align: center;
}

nav {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  margin-top: -1.5em;
  /* padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  border-radius: 20px; */
}

/* styles regarding ul iinside nav */


nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* styles for the li in the ul in the nav */
nav li {
  /* background-color: #009933; */
  background-color: #9d9d93;
  margin: 0.3em;
  padding: 0.4em;
  border-radius: 2em;
  list-style-type: none;
}

/* styles for the anchor elements inside the li inside nav */
nav li a {
  color: #fff;
  text-decoration: none;
}

/* styles to display mobile class */
.mobile {
  display: inline;
}

/* styles to hide the desktop class */
.desktop {
  display: none;
}

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 2em 0 2em 0;
  opacity: 0.85;
}

footer {
  font-size: .7em;
  text-align: center;
  margin-top: 2em;
  color: #fff;
}

/* style for the links inside main */
main a {
  border-radius: 1em;
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
  background-color: #9d9d93;
  text-decoration: none;
}

/* style for the links in the footer */
footer a {
  color: #fff;
  text-decoration: none;
}

/* styles for the tablet class */
.tablet {
  display: none;
}

.equip {
  /* float: left;
  padding: 0 20px 20px; */
  display: none;
}

/* style for the aside element */
aside {
  font-style: italic;
}

/* style for input, textearea etc */
input,
select,
textarea {
  display: block;
  margin-bottom: 1em;
}

/* style for the label */
label {
  display: block;
}

/* styel for the ul inside the form */
form ul {
  list-style-type: none;
}

.chkbx {
  display: inline-block;
}

.gender label {
  text-align: left;
  color: #000;
  width: fit-content;
  padding-right: 1em;
}

.gender p {
  margin: 0;
  padding-right: 1em;
}

.gender {
  display: flex;
}

fieldset section {
  padding-bottom: 0;
}

form {
  margin-left: auto;
  margin-right: auto;
}

form fieldset {
  padding: 0.5em;
}

form p>small {
  display: block;
}

#form-btn input {
  display: inline-block;
  margin-right: 0.5em;
  padding: 0.5em 1em;
  background-color: #9d9d93;
  border-radius: 1em;
  color: #fff;
  border: none;
}

.gender {
  flex-direction: column;
}

.gender>div {
  flex-direction: row;
  margin-left: 5em;
}

/* 
@media (orientation: landscape) {
  body {
      background-color: cyan;
  }
} */

/* media query for the tablet */
@media only screen and (min-width: 700px) {

  /* styles for li inside nav */
  nav li {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-right: 0;
    width: 18%;
    white-space: nowrap;
    border-radius: 0;
    background-color: transparent;
  }

  /* styles for the main element */
  main {
    clear: left;
    /* margin-top: 4em; */
    border-radius: 0;
    margin-top: -0.3em;
    overflow: auto;
  }

  /*  hiding mobile class*/
  .mobile {
    display: none;
  }

  /* display desktop class */
  .desktop {
    display: block;
  }

  /* display equip class img/content */
  .equip {
    display: inline;
    float: left;
    margin-right: 1.5em;
  }

  h1 {
    clear: left;
    /* text-align: center; */
  }

  /* style fot the images inside figure */
  figure img {
    background-color: #1d1d1c;
    display: inline;
    height: 8em;
    width: calc(100% / 3 - 5%);
    /* width: 28%; */
    margin: 1%;
    padding: 1%;
  }

  /* style for the links inside the figure */
  figure a {
    background-color: transparent;
    padding: 0;
    text-decoration: none;
  }

  /* display items class */
  .items {
    display: block;
    list-style-position: inside;
    /* margin-bottom: 6em; */
  }

  /* display class tablet */
  .tablet {
    display: block;
    margin-top: -3em;
    margin-bottom: -1em;
  }

  dt {
    font-weight: bold;
    margin-top: 0.7em;
  }

  section {
    padding-bottom: 3em;
  }

  /* style for the h1 inside the section element */
  section h1 {
    text-align: left;
  }

  /* style regarding links inside the section element */
  section a {
    padding: 0;
    background-color: transparent;
    color: #1d1d1c;
    font-weight: normal;
    text-decoration: underline;
  }

  /* style for the contact class */
  .contact {
    background-color: transparent;
    color: #1d1d1c;
    padding: 0;
    text-decoration: underline;
    font-weight: normal;
  }

  /* style for the article element */
  article {
    background-color: #c1d9ca;
    float: left;
    margin: 0.5%;
    padding: 0.5%;
    /* width: 31%; */
    width: calc((100% - 6%) / 3);
    text-align: left;
    border-radius: 1em;
  }

  article h2 {
    margin-left: 1em;
  }

  /* style for the images inside the articles in main */
  article img {
    border: solid 0.1em #1d1d1c;
    margin-left: auto;
    margin-right: auto;
  }

  /* style for the p inside the articles */
  article p {
    margin-top: 2%;
    padding: 1%;
  }

  /* style for aside element */
  aside {
    background-color: #fff;
    border-radius: 0 5em 5em 5em;
    box-shadow: 1em 1em 1em #4c4f4d;
    padding: 1.5em;
    margin: 1em;
  }

  fieldset {
    border: groove;
  }

  fieldset legend {
    visibility: visible;
  }

  /* style for the label */
  label {
    float: left;
    padding-right: 0.5em;
    text-align: right;
    width: 10em;
  }

  form ul {
    text-align: left;
  }

  .gender p {
    width: 10em;
    text-align: right;
  }

  /* style for the btn class */
  #form-btn:first-of-type {
    margin-left: 10em;
  }

  form p>small {
    display: inline;
    padding-left: 1em;
  }

  .gender {
    flex-direction: row;
  }

  .gender>div {
    flex-direction: row;
    margin-left: 0;
  }

  /* styles for main element with class flex display */
  /* .flex-container {
    display: flex;
  } */

  /* style for the table element */
  table {
    border: 0.1em solid #000;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
  }

  /* style for the th and tr */
  th,
  tr,
  td {
    border: 0.1em solid #000;
    padding: 1em;
  }

  /* style for th */
  th {
    background-color: #1d1d1c;
    color: #fff;
  }

  /* style for the caption of the table */
  caption {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
  }

  /* styel for the video class */
  .video {
    text-align: center;
    padding: 1em;
  }

  video {
    border: 0.5em ridge #fff;
    height: auto;
    max-width: 100%;
  }

  /* style for the copyright id div */
  #copyright {
    float: left;
    margin-top: 2em;
    width: 80%;
  }

  #social {
    float: right;
    width: 20%;
  }

  /* footer {
      display: flex;
      justify-content: space-between;
  } */

}

/* media query for the desktop view port */
@media only screen and (min-width: 900px) {

  /* style for the container id */
  #container {
    /* width: 80%; */
    background-color: #1d1d1c;
  }

  /* styles for the ul inside the nav */
  nav ul {
    margin: 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  /* styles for the li inside the nav */
  nav li {
    /* border-radius: 0;
      border-top: solid #000;
      border-bottom: solid #000; */
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 20%;
  }

  /* nav li:nth-of-type(3) a {
      color: #000;
  } */

  /* styles for the links in the li in nav */
  nav li a {
    display: inline-block;
    padding: 0.7em;
    text-shadow: 0.2em 0.2em 0.1em #3d3d35;
  }

  /* styles for the main */
  main {
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em #404040;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: #1d1d1c;
  }

  /* paragraphs inside main */
  main p {
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* styles for the item class */
  /* .items {
      margin-bottom: 7em;
  } */

  /*  styles for the links inside the nav*/
  nav li a:link {
    color: #fff;
  }

  nav li a:visited {
    color: #ccf;
  }

  nav li a:hover {
    color: #9d9d93;
    font-style: italic;
  }

  nav li a:active {
    color: #660;
  }

  body {
    /* background: linear-gradient(135deg, orange 60%, cyan); */
    /* background: linear-gradient(#fff 60%, #ff9);
      background-attachment: fixed; */
    background: #fff;
  }

  /* style for header of desktop view port */
  header {
    text-align: right;
  }

  /* style for the nav */
  nav {
    float: left;
    margin-top: -7em;
    width: 60%;
  }

  /* style for the img inside the figure */
  figure img {
    height: 12rem;
    opacity: 0.7;
  }

  /* pseudo class for the imges inside figure */
  figure img:hover {
    opacity: 1;
    /* cursor: pointer; */
  }

  h1 {
    color: #fff;
    text-align: center;
  }

  /* style for the footer */
  footer {
    background-color: #2a2a2a;
    margin-top: -0.2em;
    /* padding: 2em; */
    overflow: auto;
  }


  /* styles regarding section element */
  section {
    color: #fff;
    margin-left: 1em;
    padding-bottom: 5em;
    margin-top: 2em;
  }

  section:first-of-type {
    margin-top: 0;
  }

  section a {
    color: #fff;
  }

  section p {
    margin-left: 0;
  }

  main h2 {
    color: #fff;
  }

  .contact {
    color: #fff;
  }

  /* style for the h2 inside the article */
  main article h2 {
    color: #000;
    text-align: center;
  }

  article p {
    color: #000;
  }

  /* style for the form */
  form {
    background-color: #fff;
    padding: 1em;
    margin: 1em;
  }

  form p {
    color: #000;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  /* style for the table  */
  table {
    background-color: #fff;
    width: 80%;
  }

  /* style for the tabel caption */
  caption {
    color: #fff;
  }

  /* style for the social  */
  #social img {
    padding: 0.5em;
  }
}