/* styles for the Mobile-First Strategy */

/* styles for body element */
body {
  background-color: #ffff99;
}

/* styles for fluid image */
img {
  max-width: 100%;
}

/* styles for teh container id */
#container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* styles for the header section */
header {
  margin-top: 0.2em;
  background-color: #ffffff;
  border-radius: 0.5em;
  text-align: center;
}

/* styles for the nav element */
nav {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

/* add styles for the unordered list in teh nav */
nav ul {
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* add style for the list items in the nav */
nav li {
  background-color: #009933;
  border-radius: 2em;
  list-style-type: none;
  margin: 0.3em;
  padding: 0.4em;
}

/* add styles fro teh anchor tag inside the li */
nav li a {
  color: #ffffff;
  text-decoration: none;
}

/* add styles for teh mobile class */
.mobile {
  display: inline;
}

/* add style fro the desktop class */
.desktop {
  display: none;
}

/* styles for the main div */
main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0.5em;
  padding: 1em;
  border-radius: 1em;
  background-color: #ffffff;
  border-top: solid 0.2em #009933;
  border-bottom: solid 0.2em #009933;
}
/* footer styles */
footer {
  font-size: 0.7em;
  text-align: center;
  margin-top: 2em;
}

/* styles for teh tablet class */
.tablet {
  display: none;
}

/* styles for teh equip class */
.equip {
  display: none;
}

/* clear float for the heading cvoming after equip classs that is float left */
/* h1 {
  clear: left;
} */

/* styles for teh unordered list */
ul {
  margin-bottom: 50px;
  list-style-position: inside;
}

/* styles for teh description term */
dt {
  font-weight: bold;
}

dd {
  margin-bottom: 20px;
}
